<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">《 入札商品の投稿 》</h2>
        <%= render partial: 'form' %>
    </div>
  </div>
</div>
<%= render "shared/second-footer" %>