<h1>
  検索結果
</h1>

<% if @results.length !=0 %>
  <% @results.each do |result| %>
    <div class='list'>
      <div class='item-img-content'>
          <%= image_tag stock_item.image, class: "item-img"%>
      </div>
      <div class='tag'>
        <li class='tag-lists'>
          <% stock_item.tags.each do |tag| %>
            <p><%= tag.tag_word %></p>
          <% end %>
        </li>
      </div>
    </div>
  <% end %>
<% else %>
  該当する商品はありません
<% end %>
<br>
<%= link_to 'トップページへ戻る', root_path %>